@model PartialCert
<h2>Pagination Example</h2>

<table class="table table-striped">
    @foreach (var item in Model.CrtSHes)
    {
        <tr>
            <td>@item.id</td>
            <td>@item.issuer_ca_id</td>
            <td>@item.issuer_name</td>
            <td>@item.name_value</td>
            <td>@item.not_before</td>
        </tr>
    }
</table>
<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-page="/Certificate" asp-route-currentpage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>